 <header class="w-full bg-white shadow-md py-4">
        <nav class="container mx-auto flex justify-between items-center px-4">
            <a href="/" class="text-2xl font-bold text-rose-500">Hamara AIRBNB</a>
            <div>
                <a href="/homes" class="ml-4 px-4 py-2 bg-rose-500 text-white font-semibold rounded-lg hover:bg-rose-600 transition duration-200">
                    HOMES
                </a>
                <a href="/add-home"  class="ml-4 px-4 py-2 bg-rose-500 text-white font-semibold rounded-lg hover:bg-rose-600 transition duration-200">
                    ADD HOME
                </a>
                <a href="/favourites" class="ml-4 px-4 py-2 bg-rose-500 text-white font-semibold rounded-lg hover:bg-rose-600 transition duration-200">FAVOURITES

                </a>
                <a href="/hosthome" class="ml-4 px-4 py-2 bg-rose-500 text-white font-semibold rounded-lg hover:bg-rose-600 transition duration-200">HOST HOMES

                </a>
                    
              
            </div>
        </nav>
    </header>