<form action="/favourites" method="POST">
    <input type="hidden" name="id" value="<%= home._id %>">
    <button class="bg-rose-500 text-white font-semibold rounded-lg px-4 py-2">Fav
</button>
</form>